* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*header styles*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .text-color {
    color: #20201f;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*hero style */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hirobot.jpeg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.hero-quote {
    width: 35%;
    text-align: right;
    margin: 35%;
    color:#ffffff;
    font-size: 18px;
    line-height: 1.2;
}
.hero-quote h2{
    font-Style: italic;
    font-size: 30px;
    color: white;
    position: relative; left: 250px; top: 100px;

}
/*content style start*/
.float-left {
    float: left;
    margin-right: 25px;
    
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #0c0b0b;
    background-image: url("../images/bluesmoke.jpeg");
    background-size: cover;
    background-position: center;
}

.content-style img {
    max-height: 200px;
}

.content-style h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.contact-me-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #0c0b0b;
    background-image: url("../images/bluesmoke.jpeg");
    background-size: cover;
    background-position: center;
}

.contact-me-style img {
    max-height: 200px;
}

.contact-me-style h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contact-me-form {
    border: 3px solid black;
    background-color: #2a607c;
    padding: 20px;
    color: black;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: relative; left: 500px; top: -120px;
}
.contact-me-form h3 {
    font-size: 24px;
    margin: 0;
}
.contact-me-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid black;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color:black;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}


/*Content style end*/

/*Side Bar benefits style*/
.mywork {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    background-image: url("../images/bluesmoke.jpeg");
    background-size: cover;
    background-position: center;
}
.mywork img{
    display: block;
    margin: 10px auto;
    max-width: 200px; 
}
.mywork h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
}
.side-bar {
    margin-bottom: 32px;
    color: #0c0b0b;
}

.side-bar h3 {
    margin-bottom: 10px;
    text-align: center;
}

.side-bar img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.side-bar p {
    text-align: center;
}
/*Side bar benefits style end*/

/*footer style*/
.footerbar {
    margin-bottom: 20px;
    padding: 1em;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: black;
    
    background-size: cover;
    background-position: center;
}
.footer {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}
